body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.main {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}

.home {
    align-items: center;
    justify-content: center;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.InputLogin {
    margin: 5vh auto 5vh auto;
    width: 90%;
    align-items: center;
}

.errorMessage {
    margin-left:auto;
    margin-right:auto;
    color:lightcoral;
}

.schedule {
    width: 90%;
    margin-left:auto;
    margin-right: auto;
}

.schedule tr th {
    width: 14.28%;
}

.schedule tr th.hourCol {
    width: 14.28%;
}

.hourCol {
    font-size: calc(10px + 1vmin);
}

.classHour {
    position: absolute;
}

.LoginList{
    margin:auto;
    text-align: center;
}

.LoginList Button {
    margin: 0 2px 0 2px;
}